
services:
  db:
    image: postgres:16
    container_name: pg
    env_file: .env
    volumes:
      - ./data:/var/lib/postgresql/data
      - ./db/01-enable-extensions.sql:/docker-entrypoint-initdb.d/01-enable-extensions.sql:ro
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-django} -d ${POSTGRES_DB:-django}"]
      interval: 5s
      timeout: 5s
      retries: 20

  redis:
    image: redis:8
    container_name: redis
    command: ["redis-server", "--appendonly", "yes"]
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 20

  web:
    build:
      context: ./web
      dockerfile: Dockerfile
    container_name: django
    env_file: .env
    volumes:
      - ./app:/app
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_healthy
    ports:
      - "8000:8000"


